*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    background-color: #9cd2dc;
    line-height: 1.6;
    padding: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    color: rgb(79, 130, 224);
}
h2 {
    color: rgb(43, 11, 3);
}
h3 {
    color: rgb(177, 125, 88);
}
a:link {
  color: rgb(230, 9, 46);
}

a:visited {
  color: rgb(161, 105, 171);
}

a:hover {
  text-decoration: black;
}

p.target{
    border: 3px solid black;
    padding: 20px;
    margin: 30px;
    width: 600px;
    height: 120px;
    background: rgb(203, 154, 133);
}