*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    background-color: #cbdf17;
    line-height: 1.6;
    padding: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    background-color: #7f7fcf;
	color: white;
    width: 170px;
	text-shadow: 3px 3px 3px rgb(207, 186, 25);
}
h2 {
    color: rgb(43, 11, 3);
}
h3 {
    color: rgb(177, 125, 88);
}

ul {
  border: 3px solid #1922a1;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #df9f9f;
}

strong {
  font-size: 1.2em;
}